
.empP {
    font-family:  cursive;
    font-size: 25px;
}

#p1 {
    font-weight: normal;
    text-shadow: -2px;
}
#p2 {
    font-weight: bold;
    border: thick;
   
}
#p3 {
    font-weight: lighter;
    border: thick ridge;
}

#apsP {
    font-weight: normal;
    font-family: arial;
}

#positionsPlayfield{
    position: fixed;
    background-color: azure;
}

#bird {
    position: absolute;
    top: 0px;
    left: 5px;
}